<div class="container">

  <div class="profile">

    <div class="profile-image">

      <img src="assets/img/mains.jpg" alt="">
      <!-- src="{{this.uimage}}" -->


    </div>

    <div class="profile-user-settings">

      <h1 class="profile-user-name">{{this.id}}</h1>

      <button class="btn profile-edit-btn" (click)="editprofile()"> Edit Profile </button>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>




    </div>
    <div class="profile-stats">
      <ul>
        <li> 게시물 <span class="profile-stat-count">{{this.posts}}</span></li>
        <li> 팔로워 <span class="profile-stat-count">{{this.follower}}</span></li>
        <li> 팔로잉 <span class="profile-stat-count">{{this.following}}</span></li>
      </ul>

      <!-- <table *ngFor="let users of proinfo">
          <ul>
              <li> 게시물 <span class="profile-stat-count">{{users.posts}}</span></li>
              <li> 팔로워 <span class="profile-stat-count">{{users.follower}}</span></li>
              <li> 팔로잉<span class="profile-stat-count">{{users.following}}</span></li>
            </ul>
      </table> -->
    </div>

    <div class="profile-bio">

      <p><span class="profile-real-name">{{this.username}}</span> </p>
    </div>

    <!-- <table>
        <thead>
          <th>post</th>
          <th>follower</th>
          <th>follower</th>
        </thead>
        <tr>
          <td>{{this.proinfo[0].posts.length}}</td>
          <td>{{this.proinfo[0].follower.length}}</td>
          <td>{{this.proinfo[0].following.length}}</td>
        </tr>
      </table> -->

  </div>
  <hr style="border : 3px solid white;">

</div>







<div class="container">

  <div class="gallery">


    <div *ngFor="let posts of post" class="gallery-item" tabindex="0" >
      
        <img src="assets/img/camera.jpg" class="gallery-image" alt="">
        <!-- <img id="userimg" src="{{posts.image}}">  -->

      <div class="gallery-item-info">
        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            56</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="loader"></div>
</div>