#lg1 {
    margin: 15px;
    float: left;
}

#lg2 {
    border-left: 1px solid black;
    padding-left: 40px;
    margin: 25px;
    float: left;
}

#lg3 {
    margin: 30px;
    float: 0px;
}

.menu
{
    color: black;
}

.us
{
    margin-left: 10%;
}

.btns {
    /*width: 3%;*/
    /*height: 20px;*/
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }