<div class="container">

  <div class="profile">

    <div class="profile-image">

      <img src="{{this.uimage}}" width="80%" height="80%" alt="">

    </div>

    <div class="profile-user-settings">

      <h1 class="profile-user-name">{{this.id}}</h1>

      <button class="btn profile-edit-btn" (click)="editprofile()"> Edit Profile </button>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    </div>

    <div class="profile-stats">
      <ul>
        <li> 게시물 <span class="profile-stat-count">{{this.posts}}</span></li>
        <li> 팔로워 <span class="profile-stat-count">{{this.follower}}</span></li>
        <li> 팔로잉 <span class="profile-stat-count">{{this.following}}</span></li>
      </ul>

    </div>

    <div class="profile-bio">

      <p><span class="profile-real-name">{{this.username}}</span> </p>
    </div>
  </div>
  <hr style="border : 3px solid white;">

</div>







<div class="container">

  <div class="gallery">


    <div *ngFor="let posts of post" class="gallery-item" tabindex="0">

      <img src="{{posts.image}}" class="gallery-image"  alt="">

      <div class="gallery-item-info">
        <ul>
         
        </ul>
      </div>
    </div>
  </div>
  <div class="loader"></div>
</div>