
  <div class="container">

    <div class="profile">

    <div class="profile-image">

      <img src="assets/img/mains.jpg" alt="">

    </div>

    <div class="profile-user-settings">

      <!-- 맛집 이름 -->
      <h2 class="profile-user-name">{{this.name}}</h2>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    </div>

    <div class="profile-bio">

      <p style="font-size:110%"> address : <span class="profile-real-name"> {{this.address}}</span></p>
      <p style="font-size:110%"> telephone : <span class="profile-real-name">{{this.telephone}}</span></p>
      <p style="font-size:110%"> business_hours : <span class="profile-real-name"> {{this.business_hours}}</span></p>
      <p style="font-size:110%"> breake_time : <span class="profile-real-name"> {{this.breake_time}}</span></p>
    </div>
  </div>
  <hr style="border : 3px solid white;">
</div>


<!-- ngfor문으로 사진 출력 -->


<div class="container">

  

  <div class="gallery">

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">
        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            56</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 2</li>
        </ul>
      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            89</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 5</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            42</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 1</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            38</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 0</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            47</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 1</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            94</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 3</li>
        </ul>

      </div>

    </div>


    </div>
    
   <div class="loader"></div>

  </div>