<!-- <div class="header">

  <img id="lg1" src="assets/img/camera.jpg" style="width:7%; height:80%;">
  <img id="lg2" src="assets/img/logom.png" style="width: 12%; height:70%;">
  <div id="searchbox">
    <input type="search" placeholder="">
  </div>
  <div id="searchbtn">
    <button type="submit" class="btns" (click)="Searchbtn()">검색</button>
    <a routerLink="/board" class="btn1"> Main </a>
    <a routerLink="/upload" class="btn2"> Upload </a>
    <a routerLink="/login" class="btn2"> Logout </a>
  </div>
</div> -->

<br><br><br><br>
<div style="overflow:scroll; width:100%; height:auto;">
  <div class="container">

    <!-- <div class="profile"></div> -->

    <div class="profile-image">

      <img src="assets/img/mains.jpg" alt="">

    </div>

    <div class="profile-user-settings">

      <h1 class="profile-user-name">{{this.id}}</h1>

      <button class="btn profile-edit-btn" (click)="otherInfos()"> 팔로잉 </button>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

    
    

  </div>
    <div class="profile-stats">
      <ul>
        <li>게시물 <span class="profile-stat-count">{{this.posts}}</span> </li>
        <li>팔로워 <span class="profile-stat-count" >{{this.follower}}</span> </li>
        <li>팔로잉 <span class="profile-stat-count">{{this.followings}}</span> </li>
      </ul>
    </div>
    <div class="profile-bio">

      <p><span class="profile-real-name">{{this.username}}</span> </p>

    </div>

  </div>


</div>




<div class="container">

  <div class="gallery">

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">
        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            56</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 2</li>
        </ul>
      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            89</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 5</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            42</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 1</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            38</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 0</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-type">

        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

      </div>

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            47</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 1</li>
        </ul>

      </div>

    </div>

    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop" class="gallery-image"
        alt="">

      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>
            94</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
              aria-hidden="true"></i> 3</li>
        </ul>

      </div>

    </div>

    <!-- <div class="gallery-item" tabindex="0">7

        <img src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop" class="gallery-image"
          alt="">

        <div class="gallery-item-type">

          <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

        </div>

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                aria-hidden="true"></i> 52</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
                aria-hidden="true"></i> 4</li>
          </ul>

        </div>

      </div>  -->

    <!-- <div class="gallery-item" tabindex="0">8

        <img src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop" class="gallery-image"
          alt="">

        <div class="gallery-item-info">

          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                aria-hidden="true"></i> 66</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
                aria-hidden="true"></i> 2</li>
          </ul>

        </div>

      </div> 






    </div>
    
   <div class="loader"></div> -->

  </div>
</div>