<!-- <div class="header">

    <img id="lg1" src="assets/img/camera.jpg" style="width:7%; height:80%;">
    <img id="lg2" src="assets/img/logom.png" style="width: 12%; height:70%;">
    <div id="searchbox">
        <input type="search" placeholder="">
    </div>
    <div id="searchbtn">
        <button type="submit" class="btn" (click)="Searchbtn()">검색</button>
        <a routerLink="/board" class="btn1"> Main </a>
      <a routerLink="/upload" class="btn2"> Upload </a>
      <a routerLink="/login" class="btn2"> Logout </a>
    </div>

</div> -->

<div class="content">

    <form #uploadForm="ngForm">
        <!-- (ngSubmit)="onSubmit(uploadForm)"> -->
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <!-- <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                  <br> -->
                    <h2> 게시물 업로드 페이지 </h2>
                    <!-- Pick file시 이쪽에 불려진 이미지 전달하기 -->
                    <script>
                        function image_check() {
                            // var path = "path";
                            var imgSource = document.targetImg;
                            // imgSource.src = path;

                        }
                    </script>
                    <!-- <img src="assets/img/logom.png"  class="pickimg"><br> -->
                    <img [src]="imageUrl" style="width: 250px; height: 150px">
                    <br>
                    <input type="file" #Image accept="image/*"  (change)="handleFileInput($event.target.files)">
                    <button type="submit" class="btn-1" (click)="onUpload(uploadForm)"> Submit</button>
                    <!-- <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput> -->
                    <!-- <button type="submit" class="btn-1" (click)="fileInput.click()" required> Pick File </button> -->
                    <!-- <button type="button" class="btns-1" (click)="onUpload()"> Upload </button>
                    <button type="button" class="btns-1" (click)="reset(uploadForm)"> Reset </button> -->
                    <br><br>
                    <label> 사용자 Text </label>
                    <br>
                    <input type="text" class="text" name="text" #name="ngModel" [(ngModel)]="uploadService.selectedUpload.text"
                        placeholder="Input text">
                    <br><br>
                    <label> Hashtag </label>
                    <br>
                    <input type="text" class="text" name="hastag" #name="ngModel" [(ngModel)]="uploadService.selectedUpload.hastag"
                        placeholder="Input text">
                </div>
            </div>
        </div>
    </form>
</div>