<!-- <div class="header">

  <img id="lg1" src="assets/img/camera.jpg" style="width:7%; height:80%;">
  <img id="lg2" src="assets/img/logom.png" style="width: 12%; height:70%;">
  <div id="searchbox">
      <input type="search" placeholder="">
  </div>
  <div id="searchbtn">
      <button type="submit" class="btn" (click)="Searchbtn()">검색</button>
      <a routerLink="/profile" class="btn1"> Profile </a>
    <a routerLink="/upload" class="btn2"> Upload </a>
    <a routerLink="/login" class="btn2"> Logout </a>
  </div>

</div> -->

<div class="content">

  <form #uploadForm="ngForm">
      <!-- (ngSubmit)="onSubmit(uploadForm)"> -->
      <div class="row">
          <div class="row">
              <div class="input-field col s12">
                    <table>
                            <thead>
                              <th>id</th>
                              <th>text</th>
                            </thead>
                            <tr *ngFor="let upload of uploadService.upload">
                              <td>{{upload.username}}</td>
                              <td>{{upload.text}}</td>
                              <!-- <td>{{user.following}}</td> -->
                            </tr>
                          </table>
                 
              </div>
          </div>
      </div>
  </form>
</div>