<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="assets/img/logom.png" style="width:75%" />
    </div>
    <div class="l-part">
      <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

        <input type="text" autocomplete="off" #id="ngModel" [(ngModel)]="model.id" name="id"
          placeholder="id" class="input-1" required [ngClass]="{ 'invalid-textbox' : signUpForm.submitted && !id.valid}">

        <!-- 위에서 id 검증 후에 검증되지 않으면 아래에서 에러 문구 발생 -->
        <div *ngIf="signUpForm.submitted && !id.valid">
          <label class="validation-message">This field is requied. </label>
        </div>


        <input type="text" autocomplete="off" #username="ngModel" [(ngModel)]="model.username" name="username"
          placeholder="UserName" class="input-1" required [ngClass]="{ 'invalid-textbox' : signUpForm.submitted && !username.valid}">
        <!-- 위에서 name 검증 후에 검증되지 않으면 아래에서 에러 문구 발생 -->
        <div *ngIf="signUpForm.submitted && !username.valid">
          <label class="validation-message">This field is requied. </label>
        </div>


        <input type="text" autocomplete="off" #email="ngModel" [(ngModel)]="model.email" name="email"
          placeholder="Email" class="input-1" required [pattern]="emailRegex" [ngClass]="{ 'invalid-textbox' : signUpForm.submitted && !email.valid}">
        <!-- 위에서 email 검증 후에 검증되지 않으면 아래에서 에러 문구 발생 -->
        <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required" class="validation-message">This field is requied. </label>
          <label *ngIf="email.errors.pattern" class="validation-message">Invaild email address. </label>
        </div>


        <div class="overlap-text">
          <input type="password" autocomplete="off" #password="ngModel" [(ngModel)]="model.password"
            name="password" placeholder="password" class="input-1" minlength="4" required [ngClass]="{ 'invalid-textbox' : signUpForm.submitted && !password.valid}">
          <div *ngIf="signUpForm.submitted && password.errors">
            <label *ngIf="password.errors.required" class="validation-message">This field is requied. </label>
            <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters. </label>
          </div>
        </div>

        <!-- <input type="submit" value="회원가입" class="btn"> -->
        <input type="submit" class="btn">
        <!-- <a routerLink="/login" class="btn"> 회원가입 </a> -->
      </form>
    </div>
    <br>

    <div class="sub-content">
      <!-- <div class="s-part"> -->
        계정이 있으신가요?  <a routerLink="/login"> 로그인 </a>
      <!-- </div> -->
    </div>
  </div>
</div>



<!-- success message -->
<div class="success" *ngIf="showSucessMessage">
  Sign up is successfully
</div>

<!-- error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>